@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
*{
    font-family: 'IBM Plex Sans', sans-serif;
}
body{
    
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./images/back.jpg);
    
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
ul{
    float: right;

}
ul li{
    display: inline-block;
margin-top: 25px;
}
ul li a{
    color: white;
    padding: 5px 20px;
    border-bottom: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color:    #fff;
    color: black;
}
.logo img{
    float: left;
    width: 90px;
    height: auto;
    margin-top: 10px;
    margin-left: 100px ;
   border-bottom:solid #fff 2px; 
   border-top:solid #fff 2px;
    padding-right: 16px;
    transition: 0.6s ease;
}
.logo img:hover{
    border:solid #fff 2px;
    box-shadow: 5px 10px #fff;
    cursor: pointer;
}
.main{
    max-width: 1200px;
    height: auto;
   
}
ul li.active a{
background-color: #fff;
color: #000;
}
.title{
    position: absolute;
    
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70px;
    font-family:  'IBM Plex Sans', sans-serif;
    
}
.button{
    position: absolute;
    top: 60%;

    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    color: #fff;
    
    border: 1px solid #fff;
    padding: 10px 30px;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}

@media (max-width:880px){
    .button{
        position: absolute;
        left: 55%;
        top: 70%;
        padding: auto;
    }
    #btn1{
        padding: 25px;
    }
    #btn2{
        position: absolute;
       top: 290%;
       left: 1%;
       padding: 25px;

    }
    .title{
        position: absolute;
        
        top: 50%;
        left:55%;
        transform: translate(-50%,-50%);
    }
    .title h1{
        font-size: 50px;
    }
    .test{
        position: absolute;
        left: 23%;
        top: -85%;
    }
    .title hi.test{
        position: absolute;
        left: 90%;
    }
}
.first{
    height: auto;
    width: 250px;
    position: absolute;
    top:20%;
    left: 9%;
}
.galaxy1{
    height: auto;
    width: 234px;
    position: absolute;
    top: 22.5%;
    left: 9.5%;
    transition: 0.6s ease;
    z-index: 3;
}
.galaxy1:hover{
    position: absolute;
    background-image: url(../images/whitebeck.jpg);
    height:auto ;
    width: 370px;
    cursor: pointer;
    z-index: 3;
}

.first2{
    height: auto;
    width: 250px;
    position: absolute;
    top:20%;
    left: 30%;


}
.galaxy2{
    height: auto;
    width: 234px;
    position: absolute;
    top: 22.6%;
    left: 30.6%;
    transition: 0.6s ease;
    z-index: 2;
}
.galaxy2:hover{
    position: absolute;
    background-image: url(../images/whitebeck.jpg);
    height:auto ;
    width: 370px;
    cursor: pointer;
    z-index: 2;
}
.first3{
    height: auto;
    width: 250px;
    position: absolute;
    top:20%;
    left: 51%;
}

.galaxy3{
    height: auto;
    width: 234px;
    position: absolute;
    top: 22.6%;
    left: 51.6%;
    transition: 0.6s ease;
    z-index: 1;
}
.galaxy3:hover{
    position: absolute;
    background-image: url(../images/whitebeck.jpg);
    height:auto ;
    width: 370px;
    cursor: pointer;
    z-index: 1;
}

.first4{
    height: auto;
    width: 250px;
    position: absolute;
    top:20%;
    left: 72%;
}
.galaxy4{
    height: 130px;
    width: 234px;
    position: absolute;
    top: 22.6%;
    left: 72.6%;
    transition: 0.6s ease;
}
.galaxy4:hover{
    position: absolute;
    background-image: url(../images/whitebeck.jpg);
    height:auto ;
    width: 370px;
    height: 200px;
    cursor: pointer;
    z-index: 1;
}